In [2]:
import torch
from NLPUtils import *

import pandas as pd
import nltk
nltk.download('brown', download_dir='/home/lestien/anaconda3/envs/TorchEnv/nltk_data')
from nltk.corpus import brown

import numpy as np
%matplotlib notebook
import matplotlib.pyplot as plt

%load_ext autoreload
%autoreload 2

[nltk_data] Downloading package brown to
[nltk_data]     /home/lestien/Documents/BecaNLP/Utils/Datasets/...
[nltk_data]   Unzipping corpora/brown.zip.

In [10]:
import torch
torch.cuda.get_device_name()

'GeForce GTX 1080 Ti'

In [34]:
print(brown.categories())

['adventure', 'belles_lettres', 'editorial', 'fiction', 'government', 'hobbies', 'humor', 'learned', 'lore', 'mystery', 'news', 'religion', 'reviews', 'romance', 'science_fiction']

In [ ]:
categories = brown.categories()
train_sentences = []
test_sentences = []
train_labels = []
test_labels = []
for c, category in enumerate(categories):
    sentences = brown.sents(categories=category)
    NUM_SAMPLES = len(sentences)
    random_idx = np.random.permutation(NUM_SAMPLES)
    NUM_TRAIN = int(5/6 * NUM_SAMPLES)
    train_sentences.extend([sentences[i] for i in random_idx[:NUM_TRAIN]])
    test_sentences.extend([sentences[i] for i in random_idx[NUM_TRAIN:]])
    train_labels.extend([c] * NUM_TRAIN)
    test_labels.extend([c] * (NUM_SAMPLES - NUM_TRAIN))

In [28]:
train_data = pd.DataFrame({'sentence':['<SEP>'.join(sent) for sent in train_sentences], 'label':train_labels})
train_data

                                                sentence  label
0      But<SEP>he<SEP>had<SEP>found<SEP>all<SEP>of<SE...      0
1      It<SEP>is<SEP>the<SEP>last<SEP>of<SEP>the<SEP>...      0
2      He<SEP>sprinted<SEP>to<SEP>the<SEP>rail<SEP>an...      0
3      They<SEP>were<SEP>in<SEP>a<SEP>fight<SEP>,<SEP...      0
4      She<SEP>had<SEP>driven<SEP>up<SEP>with<SEP>her...      0
...                                                  ...    ...
47773  Or<SEP>was<SEP>that<SEP>after<SEP>the<SEP>tors...     14
47774  In<SEP>that<SEP>beautiful<SEP>place<SEP>,<SEP>...     14
47775  She<SEP>compared<SEP>the<SEP>results<SEP>with<...     14
47776  Her<SEP>brain<SEP>and<SEP>intelligence<SEP>con...     14
47777  It<SEP>was<SEP>not<SEP>a<SEP>new<SEP>experienc...     14

[47778 rows x 2 columns]

In [29]:
test_data = pd.DataFrame({'sentence':['<SEP>'.join(sent) for sent in test_sentences], 'label':test_labels})
test_data

                                               sentence  label
0          They<SEP>were<SEP>all<SEP>good<SEP>men<SEP>.      0
1     The<SEP>callous<SEP>marines<SEP>had<SEP>laughe...      0
2     ``<SEP>At<SEP>least<SEP>for<SEP>South<SEP>Flor...      0
3     ``<SEP>The<SEP>snake<SEP>was<SEP>beautiful<SEP...      0
4     ``<SEP>Tee-wah<SEP>''<SEP>,<SEP>the<SEP>driver...      0
...                                                 ...    ...
9557              The<SEP>tapes<SEP>show<SEP>that<SEP>.     14
9558  ``<SEP>Mike<SEP>darling<SEP>''<SEP>--<SEP>They...     14
9559  After<SEP>experimentation<SEP>,<SEP>Helva<SEP>...     14
9560  ``<SEP>Okay<SEP>,<SEP>take<SEP>the<SEP>tray<SEP>.     14
9561  The<SEP>many-bodied<SEP>girl<SEP>lay<SEP>near<...     14

[9562 rows x 2 columns]

In [30]:
train_data.to_csv('train.csv')
test_data.to_csv('test.csv')

In [32]:
train_dataframe = pd.read_csv('train.csv')
train_dataframe = pd.DataFrame({'sentence':train_dataframe['sentence'].str.split('<SEP>'),
                                'label':train_dataframe['label']
                               })
test_dataframe = pd.read_csv('test.csv')
test_dataframe = pd.DataFrame({'sentence':test_dataframe['sentence'].str.split('<SEP>'),
                               'label':test_dataframe['label']
                               })
test_dataframe

                                               sentence  label
0                       [They, were, all, good, men, .]      0
1     [The, callous, marines, had, laughed, at, each...      0
2           [``, At, least, for, South, Florida, '', .]      0
3     [``, The, snake, was, beautiful, ,, wasn't, it...      0
4     [``, Tee-wah, '', ,, the, driver, cackled, ,, ...      0
...                                                 ...    ...
9557                        [The, tapes, show, that, .]     14
9558  [``, Mike, darling, '', --, They, kissed, ,, a...     14
9559  [After, experimentation, ,, Helva, discovered,...     14
9560                  [``, Okay, ,, take, the, tray, .]     14
9561        [The, many-bodied, girl, lay, near, him, .]     14

[9562 rows x 2 columns]